.header {
  display: flex;
  flex-direction: column;
  max-width: 244px;
  padding: 25px 28px;
  border-right: 1px solid #dbdbdb;
}
.logoWrapp {
    margin-bottom: 21px;
}

.nav {
    margin-bottom: 47px;
}
.listNav {
  display: flex;
  flex-direction: column;
  gap: 17px;
  text-decoration: none;
}
.link {
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: #000;
}

.activeLink {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #000;
  text-decoration: none;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profileWrapper{
    display: flex;
    gap: 10px;
    align-items: center;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #f0f0f0;
  object-fit: cover;
   background: linear-gradient(
        45deg,
        #405de6,
        #5851db,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #f77737,
        #fcaf45,
        #ffdc80
    );
    padding: 1px;
}
